<?xml version="1.0" encoding="utf-8"?>
<EmailTemplate>
<subject>Thanks for registering with us!</subject>
<content>
<![CDATA[<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Registration</title>
</head>
<body>
<div bgcolor="#f3f3f3">
  <table width="100%" border="0" cellspacing="5" cellpadding="5" bgcolor="#f3f3f3">
    <tbody>
      <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
            <tbody>             
              <tr>
                <td align="center">&nbsp;</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
							${imageHtml}
                      <tr>
                        <td width="10%">&nbsp;</td>
                        <td width="80%" align="left" valign="top"><font style="font-family:Verdana,Geneva,sans-serif; color:#666766; font-size:13px; line-height:21px">
                          <p style="word-break:break-all">Hi <%= username %> , <br>
                            <br> 
                            This is an automated notification to inform you that, "Your Registration was successfully completed.. You can able to login now". Thank You.</p>
						  </font>
                          <br>
                        <font style="font-family:Verdana,Geneva,sans-serif; color:#666766; font-size:13px; line-height:21px">
                          <p style="word-break:break-all">&nbsp;</p>
                          <p style="word-break:break-all">Regards<br>
                            <strong>Support Team</strong></p>
                          <p style="word-break:break-all;font-size:11px;line-height:normal;color:blue">DO NOT REPLY to this email as this is a notification services and you will not receive any responses.</p>
                          </font></td>
                        <td width="5%">&nbsp;</td>
                        <td width="178">&nbsp;</td>
                        <td width="10%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html></content>
</EmailTemplate>
